/* Benjamin S. Osenbach
   waybar config (shagrug)
*/

@define-color bar-color #925804;
@define-color bg-color #26A65B;
@define-color fg-color #e6e14a;

@define-color hl-color #564c04;
@define-color hov-color #be9e08;
@define-color alert-color #ff0000;

* {
    border: none;
    font-family: MysteryQuest;
    font-size: 15px;
    box-shadow: none;
    text-shadow: none;
    transition-duration: 0s;
}

window#waybar {
    color: @fg-color;
    border-radius: 5px;
    background-color: @bar-color; 
    opacity: 0.75;
}

/* Sway workspaces */
#workspaces button {
    background-color: transparent;
    color: @fg-color;
    border-radius: 0px;
    padding: 0 10px;
    margin: 0 4px;
}

#workspaces button:hover {
    background: @hov-color;
}

#workspaces button.focused {
    border-bottom: 3px solid @hl-color;
}

#workspaces button.urgent {
    background-color: @alert-color;
}

#battery, #network, #clock, #tray {
    margin: 0 4px;
    border-bottom: 3px solid @hl-color;
}

battery.charging {
    color: yellow;
    background-color: #26A65B; /* dark green */
}

#battery.warning:not(.charging) {
    background-color: #ff5f1f; /* neon orange */
    color: black;
}

@keyframes blink {
    to {
        background-color: #ffffff;
	color: black;
    }
}

#battery.critical:not(.charging) {
    background-color: #ff0000; /* red */
    color: black;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

